@using FizzBuzzApp.Models
@model FizzBuzzNumber
@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm("Index","Home",FormMethod.Post))
{
    <div>
        Enter Number:@Html.TextBoxFor(Model=>Model.Number)
        <input type="submit" value="submit" />
    </div>
}


@if(Model.DisplayNumbers!=null){
    <div>
        @foreach(var i in Model.DisplayNumbers){
        <div>
            @i
        </div>
        }
    </div>
}
